@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

html, body {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
}
